{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <form action="{% url 'savepage' %}" method="POST">  
        {% csrf_token %}
        <h1>Edit Page</h1><br><br>
        <label>Title:</label>
        <input type="text" name="title" value="{{ title }}" readonly><br><br>
        <label>Markdown contents:</label><br><br>
        <textarea name="contents">{{ contents }}</textarea><br><br>
        <input type="submit" name="newcontents" value="Save" class="button">
        <input type="hidden" name="new_title" value="{{title}}">
        <input type="hidden" name="new_contents" value="{{contents}}"> 
    </form>

{% endblock %}